= stylesheet_link_tag 'stores_app_plugin/vendor/material'
= javascript_include_tag 'stores_app_plugin/vendor/material'
link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'

= javascript_include_tag 'stores_app_plugin/vendor/riot'

= stylesheet_link_tag 'stores_app_plugin/style'


