meta name='viewport' content='width=device-width, initial-scale=1.0'

= stylesheet_link_tag 'stores_app_plugin/vendor/material'
= javascript_include_tag 'stores_app_plugin/vendor/material'
link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'

= javascript_include_tag 'stores_app_plugin/vendor/riot'

= stylesheet_link_tag 'stores_app_plugin/style'
= javascript_include_tag 'stores_app_plugin/store'

