= javascript_include_tag 'stores_app_plugin/tags/app'
= javascript_include_tag 'stores_app_plugin/tags/app/tabs'
= javascript_include_tag 'stores_app_plugin/tags/catalog'
= javascript_include_tag 'stores_app_plugin/tags/product'

