= javascript_include_tag 'stores_app_plugin/tags/app'
= javascript_include_tag 'stores_app_plugin/tags/app/header'
= javascript_include_tag 'stores_app_plugin/tags/app/menu'
= javascript_include_tag 'stores_app_plugin/tags/app/tabs'
